<div class="container">
  <div><h4>Employee Details</h4></div>
  <button class="btn btn-primary pull-right" [routerLink]="['/employee']">Add Employee</button>
  <!--<a routerLinkActive ="active" routerLink="/employee">Create Employee</a>-->
  <br><br><br>
    <div class="table-responsive">
        <table class="table">
      <tr>
        <th>Id</th>
        <th>Employee Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mobile No</th>
        <th>Email Id</th>
      </tr>
      <tr *ngFor = "let employee of employees">
          <td>{{employee.id}}</td>
        <td>{{employee.employeeId}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.mobileNo}}</td>
        <td>{{employee.email}}</td>
        <td><input type ="button" class ="btn btn-info"
                    [routerLink]="['/view-employee/'+ employee.id]" 
                    value="View" ></td>
        <td><input type ="button" class ="btn btn-success"
                   [routerLink]="['/edit-employee/'+ employee.id]" 
            value="Edit" ></td>
        <td><input type ="button" class ="btn btn-danger" 
                    value="Delete" (click)="onDeleteClick(employee.id)"></td>
      </tr>
    </table>
  </div>
</div>